{% extends "includes/header.html" %}
{% block content %}
    {% load widget_tweaks %}
    <div class="container full_page">
        <div class="container spacing"></div>

        <div class="container-flux login_container">

            <div class="row h-100 align-items-center">
                <div class="col-8 offset-2 col-md-6 offset-md-4 offset-lg-4 col-lg-5 align-middle">
                    <span>Password reset email has been sent.<br></span>
                    <a href="{% url "start_page" %}">
                        <button
                                class='btn btn-outline-light animated fadeIn'
                                style='margin-right:10px; margin-bottom:10px;'>Start Page
                        </button>
                    </a>
                </div>
            </div>
        </div>


        <div class="container spacing"></div>
    </div>
{% endblock %}