{% if messages %}
    {% for message in messages %}

        <div class="toast" id="myToast" style="position: absolute; right: 10%; top: 10%; z-index: 10;"
             data-delay="10000"
             data-animation=true>
            <div class="toast-header">
                <strong class="mr-auto"><i class="fa fa-grav"></i> Smart Lock</strong>
                <small>Just now</small>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
            </div>
            <div class="toast-body">
                {{ message }}
            </div>
        </div>
    {% endfor %}
{% endif %}